:root {
  --borderradius: 7px; }

html,
body {
  box-sizing: border-box;
  background-color: #ffeead;
  padding: 0;
  margin: 0;
  font-family: Iceland, Copperplate, Copperplate Gothic Light, fantasy; }

/* main page */
#index-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 100px); }

#menu-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4; }
  #menu-flex a {
    text-transform: uppercase;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
    font-size: 1.2em;
    color: #000;
    font-weight: bold; }
    #menu-flex a:after {
      content: "|";
      padding: 0 10px; }
    #menu-flex a:last-child::after {
      content: "";
      white-space: pre; }

/* home icon */
.home {
  text-align: center;
  grid-row: 1 / 2;
  filter: drop-shadow(0 0.1rem 0.1rem black); }
  .home a {
    border-bottom: none; }

/* footer */
footer {
  grid-row: 7 / 8;
  text-align: center;
  align-self: center; }

.github-img {
  width: 60px; }

/* training page */
.training-container {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: repeat(5, 100px);
  grid-auto-flow: row;
  align-items: center;
  text-align: center; }
  .training-container a {
    text-transform: uppercase;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
    font-size: 2em;
    color: #000;
    font-weight: bold; }

.cert1 {
  grid-area: 2/2/4/4;
  text-align: center; }

.link1 {
  grid-area: 3/2/5/2; }

.link2 {
  grid-area: 3/3/5/4; }

.link3 {
  grid-area: 4/2/6/3; }

.link4 {
  grid-area: 4/3/6/4; }

/* project page */
.project-container {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 80px repeat(3, 1fr) 50px;
  align-items: center; }
  .project-container h3, .project-container h5, .project-container h6 {
    opacity: 0.5; }

.project1 {
  grid-area: 2/3/3/2; }

.project2 {
  grid-area: 3/3/4/2; }

.project3 {
  grid-area: 4/3/5/2; }

.gist {
  grid-area: 5/3/6/2; }

.project1,
.project2,
.project3,
.gist {
  text-align: center; }
  .project1 a,
  .project2 a,
  .project3 a,
  .gist a {
    color: #ff6f69;
    font-size: 2.5em;
    text-shadow: 2px 0px 3px #000;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 3px solid rgba(100, 205, 245, 0.45);
    transition: all 0.2s ease-in; }
    .project1 a:hover,
    .project2 a:hover,
    .project3 a:hover,
    .gist a:hover {
      border-radius: var(--borderradius); }

@media all and (max-width: 660px) {
  .project-container h3, .project-container h5 {
    font-size: 0.95em; }

  .project1 a,
  .project2 a,
  .project3 a,
  .gist a {
    font-size: 2em; }

  .training-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: repeat(6, 100px); }
    .training-container a {
      font-size: 2em; }

  .cert1 {
    grid-area: 2/1/4/4; }

  .link1 {
    grid-area: 3/2/5/2; }

  .link2 {
    grid-area: 4/1/4/4; }

  .link3 {
    grid-area: 6/2/4/2; }

  .link4 {
    grid-area: 5/1/5/4; }

  #menu-flex {
    display: grid;
    grid-template-rows: repeat(4, 70px); }
    #menu-flex a {
      text-transform: uppercase;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
      font-size: 1.2em;
      color: #000;
      font-weight: bold;
      text-align: center; }
      #menu-flex a:after {
        content: "";
        padding: 0 10px; }
      #menu-flex a:last-child::after {
        content: "";
        white-space: pre; } }

/*# sourceMappingURL=style.css.map */
